USE [master]
GO
/****** Object:  Database [QLSVNhomLab4]    Script Date: 03/05/2023 22:40:01 ******/
CREATE DATABASE [QLSVNhomLab4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVNhomLab4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER20220\MSSQL\DATA\QLSVNhomLab4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSVNhomLab4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER20220\MSSQL\DATA\QLSVNhomLab4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVNhomLab4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVNhomLab4]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 03/05/2023 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [varchar](20) NOT NULL,
	[MAHP] [varchar](20) NOT NULL,
	[DIEMTHI] [varbinary](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 03/05/2023 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHP] [varchar](20) NOT NULL,
	[TENHP] [nvarchar](100) NOT NULL,
	[SOTC] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 03/05/2023 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](20) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
	[MANV] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 03/05/2023 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[LUONG] [varbinary](max) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](max) NOT NULL,
	[PUBKEY] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 03/05/2023 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MALOP] [varchar](20) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_ENCRYPT_NHANVIEN]    Script Date: 03/05/2023 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_ENCRYPT_NHANVIEN]
	@USERNAME NVARCHAR(100),
	@MATKHAU NVARCHAR(MAX)
AS
BEGIN
	IF EXISTS(SELECT * FROM dbo.NHANVIEN WHERE TENDN = @username AND MATKHAU = CONVERT(VARBINARY(MAX), @MATKHAU))
        SELECT 'Success' AS Result
    ELSE
        SELECT 'Fail' AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 03/05/2023 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_PUBLIC_ENCRYPT_NHANVIEN]
	@MANV VARCHAR(20),
	@HOTEN NVARCHAR(100),
	@EMAIL VARCHAR(20),
	@LUONG VARCHAR(MAX),
	@TENDN NVARCHAR(100),
	@MK NVARCHAR(MAX),
	@PUB VARCHAR(MAX)
AS
BEGIN
	INSERT INTO NHANVIEN VALUES (@MANV, @HOTEN, @EMAIL, CONVERT(VARBINARY(MAX), @LUONG), @TENDN, CONVERT(VARBINARY(MAX), @MK), @PUB)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_ENCRYPT_ALL_NHANVIEN]    Script Date: 03/05/2023 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEL_PUBLIC_ENCRYPT_ALL_NHANVIEN]
AS
BEGIN
	SELECT MANV, HOTEN, CONVERT(VARCHAR(MAX), LUONG) AS LUONG, EMAIL
	FROM NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_ENCRYPT_NHANVIEN]    Script Date: 03/05/2023 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEL_PUBLIC_ENCRYPT_NHANVIEN]
	@TENDN NVARCHAR(100),
	@MK NVARCHAR(MAX)
AS
BEGIN
	DECLARE @PASS VARBINARY(MAX) = CONVERT(VARBINARY(MAX), @MK)

	SELECT MANV, HOTEN, EMAIL, CONVERT(VARCHAR(MAX), LUONG) AS LUONG
	FROM NHANVIEN
	WHERE TENDN = @TENDN AND MATKHAU = @PASS
END
GO
USE [master]
GO
