USE [master]
GO
/****** Object:  Database [QLSVNhom]    Script Date: 15/04/2023 21:12:30 ******/
CREATE DATABASE [QLSVNhom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVNhom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER20220\MSSQL\DATA\QLSVNhom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSVNhom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER20220\MSSQL\DATA\QLSVNhom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVNhom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVNhom]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [varchar](20) NOT NULL,
	[MAHP] [varchar](20) NOT NULL,
	[DIEMTHI] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHP] [varchar](20) NOT NULL,
	[TENHP] [nvarchar](100) NOT NULL,
	[SOTC] [int] NULL,
 CONSTRAINT [PK_HOCPHAN] PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](20) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
	[MANV] [varchar](20) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[LUONG] [varbinary](max) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](128) NOT NULL,
	[PUBKEY] [varchar](20) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MALOP] [varchar](20) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](160) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANGDIEM] ([MASV], [MAHP], [DIEMTHI]) VALUES (N'SV0', N'HP0', 0x0D033CC9585DC5EFFC04F0BD199E2288BE937E095DA40898F54F6790C91F74A1537EA86F4CE39E7624028F7A9F77B0C9D52D76E6F9ED6913A8492B5333346706707EB17CDA9E3643053E8F5D4107DF538489D352152F4C540B7D85C160A549A62FEFE8D59322E76131FB695B95D14891F4E11714FC23ECC908BEB756EFFF0E0F1615F31103B79575D217C2BD915BCE76A417FBB3D9C3DD1230A9A7705B885799B91CD728E6C1BB4B9DAF25EE68496F3250D6E8000207467E146B37AE7BD912FB3B3EDFDDF8FDC578FF0A86BC6858388BED430A3754F60FE10D778B0AF8C59D10105313A40AF52D9B58E2FAC446A41CD50032B4EDC8EE7E7D99A03092E3B1640A)
INSERT [dbo].[BANGDIEM] ([MASV], [MAHP], [DIEMTHI]) VALUES (N'SV0', N'HP1', 0x02D07D96643C41FA5A6D22AA958AB5390804A2842AC339CAEABD01DF6D38F9E8CCB7C21B3188EB65AEA7B30FBA306F29ECD2087CC78B9DA105838E39E121621E7E982A67E796F4984096AF525173D87B6F96CC097FCE1122E3F8FE71367C0607C0743DB4C7CDACD8444F9D07FD95D3F76225A9C00C084D168054159AF14CE4DDFE7983F8E4AACDE26E4BFF7D892E395DBDCF5A19438903AEF367714BD64813326794D1CB30EFE292DC88BEFC41DDE33EB180F736A1D5408C43168BF8B87F0AB87ECC4E6A8665FB180A28FFBEBDFC5F97A0CCE668B5FF384EB7D68175DC6899084473AA01AF8FF1435DB04887EFB7F0A816D3F9CBFB95FC34DB5FBEA2FF109016)
GO
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'HP0', N'HOC PHAN 0', 1)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'HP1', N'HOC PHAN 0', 1)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'HP2', N'HOC PHAN 2', 1)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'L0', N'LOP 0', N'NV00')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'L1', N'LOP 1', N'NV01')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'L2', N'LOP 2', N'NV02')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV0', N'SINHVIEN', CAST(N'2002-03-12T00:00:00.000' AS DateTime), N'BINHDINH', N'L4', N'SV0', 0x61154E051124F8F5BDAC3039CF305EC6F3DA5850)
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV1', N'pro', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'', N'L3', N'SV1', 0x91805EFD407F3D3CCE77677645F57C734928A5D9)
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV2', N'SV2', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'bd', N'L1', N'SV2', 0x6DD0C43084BCD2BA5976AED5EB0FAC4E39D95331)
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckLogin_NHANVIEN]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckLogin_NHANVIEN]
    @username NVARCHAR(100),
    @password NVARCHAR(100)
AS
BEGIN
    IF EXISTS(SELECT * FROM dbo.NHANVIEN WHERE TENDN = @username AND MATKHAU = HASHBYTES('SHA1', @password))
        SELECT 'Success' AS Result
    ELSE
        SELECT 'Fail' AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_BANGDIEM]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_PUBLIC_BANGDIEM] ( 
	@MASV VARCHAR(20), 
	@TDN VARCHAR(20), 
	@MAHP vARCHAR(20), 
	@DIEM NUMERIC(4,2)
)
AS
BEGIN
	IF @DIEM < 0 OR @DIEM > 10
		SELECT 'Fail' AS Result
	ELSE
		DECLARE @PUBK VARCHAR(20)
		SET @PUBK = (SELECT PUBKEY FROM NHANVIEN WHERE TENDN = @TDN)
		IF EXISTS(SELECT *
			FROM BANGDIEM AS BD
			WHERE @MASV = BD.MASV AND @MAHP = BD.MAHP)
			BEGIN
				UPDATE BANGDIEM
				SET DIEMTHI = CONVERT(VARBINARY(MAX), ENCRYPTBYASYMKEY(ASYMKEY_ID(@PUBK), CONVERT(VARBINARY(MAX), @DIEM)))
				WHERE MASV = @MASV AND MAHP = @MAHP
				SELECT 'Success' AS Result
			END
		ELSE
			INSERT INTO BANGDIEM VALUES (@MASV, @MAHP, CONVERT(VARBINARY(MAX), ENCRYPTBYASYMKEY(ASYMKEY_ID(@PUBK), CONVERT(VARBINARY(MAX), @DIEM))))
			SELECT 'Success' AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_HOCPHAN]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_PUBLIC_HOCPHAN] (
	@MAHP varchar(20),
	@TENHP nvarchar(100),
	@SOTC int
)
AS
BEGIN 
	INSERT INTO dbo.HOCPHAN (MAHP, TENHP, SOTC)
	VALUES (@MAHP, @TENHP, @SOTC)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_NHANVIEN]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- i.
CREATE PROCEDURE [dbo].[SP_INS_PUBLIC_NHANVIEN] (
	@MANV NVARCHAR(20),
	@HOTEN NVARCHAR(100),
	@EMAIL VARCHAR(20),
	@LUONGCB NUMERIC(10,0),
	@TENDN NVARCHAR(100),
	@MK NVARCHAR(100)
) 
AS
BEGIN
	DECLARE @HASHED_MK VARBINARY(160)
	DECLARE @ENCRYPTED_LUONG VARBINARY(MAX)

	SET @HASHED_MK= HASHBYTES('SHA1', @MK)

	DECLARE @SQL NVARCHAR(MAX);

    IF ASYMKEY_ID(@MANV) IS NULL
	BEGIN
        SET @SQL = 'CREATE ASYMMETRIC KEY '  + QUOTENAME(@MANV) + ' ' +
                 'WITH ALGORITHM = RSA_2048 ' + 
                 'ENCRYPTION BY PASSWORD = ' + QUOTENAME(@MK , NCHAR(39)) -- NCHAR(39) represents the single quote character (') in Unicode
        EXEC (@SQL)
    END

	SET @ENCRYPTED_LUONG = CONVERT(VARBINARY(MAX), ENCRYPTBYASYMKEY(Asymkey_ID(@MANV), CONVERT(VARBINARY(MAX), @LUONGCB)))

	INSERT INTO dbo.NHANVIEN (MANV, HOTEN, EMAIL, LUONG, TENDN, MATKHAU, PUBKEY)
	VALUES (@MANV, @HOTEN, @EMAIL, @ENCRYPTED_LUONG, @TENDN, @HASHED_MK, @MANV)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_PUBLIC_SINHVIEN]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_PUBLIC_SINHVIEN] (
	@MASV NVARCHAR(20),
	@HOTEN NVARCHAR(100),
	@NGAYSINH DATETIME,
	@DIACHI NVARCHAR(200),
	@MALOP VARCHAR(20),
	@TENDN NVARCHAR(100),
	@MK NVARCHAR(100)
) 
AS
BEGIN
	DECLARE @HASHED_MK VARBINARY(160)
	SET @HASHED_MK= HASHBYTES('SHA1', @MK)

	INSERT INTO dbo.SINHVIEN (MASV, HOTEN, NGAYSINH, DIACHI, MALOP, TENDN, MATKHAU)
	VALUES (@MASV, @HOTEN, @NGAYSINH, @DIACHI, @MALOP, @TENDN, @HASHED_MK)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_BANDDIEM]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEL_PUBLIC_BANDDIEM] (
	@TDN VARCHAR(20),
	@MK NVARCHAR(20)
)
AS
BEGIN 
	select bd.masv, bd.MAHP, (CONVERT(numeric(4, 2), DECRYPTBYASYMKEY(Asymkey_ID(nv.PUBKEY), bd.DIEMTHI, @MK))) AS DIEM
	from BANGDIEM as bd
	left join SINHVIEN as sv on bd.MASV = sv.MASV
	left join LOP as l on sv.MALOP = l.MALOP
	left join NHANVIEN as nv on nv.MANV = l.MANV
	WHERE nv.TENDN = @TDN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_LOP]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEL_PUBLIC_LOP]
AS
BEGIN
	SELECT DISTINCT MALOP
	FROM LOP
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_NHANVIEN]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SEL_PUBLIC_NHANVIEN]
	@TENDN NVARCHAR(100),
	@MATKHAU NVARCHAR(100)
AS
BEGIN
	SELECT MANV, HOTEN, EMAIL, Asymkey_ID(PUBKEY), (CONVERT(NUMERIC(10,0), DECRYPTBYASYMKEY(Asymkey_ID(MANV), LUONG, @MATKHAU))) AS LUONGCB
	FROM NHANVIEN
	WHERE TENDN = @TENDN AND MATKHAU = HASHBYTES('SHA1', @MATKHAU)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_SV]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEL_PUBLIC_SV]
	@TDN VARCHAR(20)
AS
BEGIN
	SELECT sv.MASV, sv.HOTEN, sv.NGAYSINH, sv.DIACHI, sv.MALOP, LOP.TENLOP
	FROM SINHVIEN sv 
	LEFT JOIN LOP ON sv.MALOP = LOP.MALOP
	LEFT JOIN NHANVIEN AS nv ON nv.MANV = lop.MANV
	WHERE nv.TENDN = @TDN
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_PUBLIC_SV_IN_LOP]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SEL_PUBLIC_SV_IN_LOP] 
	@TDN VARCHAR(20),
	@MALOP VARCHAR(20)
AS
BEGIN
	SELECT sv.MASV, sv.HOTEN, sv.NGAYSINH, sv.DIACHI, sv.MALOP, LOP.TENLOP
	FROM SINHVIEN sv 
	LEFT JOIN LOP ON sv.MALOP = LOP.MALOP
	LEFT JOIN NHANVIEN AS nv ON nv.MANV = lop.MANV
	WHERE @MALOP = LOP.MALOP AND nv.TENDN = @TDN
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_PUBLIC_SINHVIEN]    Script Date: 15/04/2023 21:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPD_PUBLIC_SINHVIEN] (
	@MASV NVARCHAR(20),
	@HOTEN NVARCHAR(100),
	@NGAYSINH DATETIME,
	@DIACHI NVARCHAR(200),
	@MALOP VARCHAR(20)
)
AS
BEGIN
	UPDATE SINHVIEN
	SET HOTEN = @HOTEN, NGAYSINH = @NGAYSINH, DIACHI = @DIACHI, MALOP = @MALOP
	WHERE MASV = @MASV
END
GO
USE [master]
GO
